# Server Configuration
PORT=3000
NODE_ENV=development
BASE_URL=http://localhost:3000
LOG_DIR=logs
LOG_LEVEL=info

# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/chat-api

# JWT Configuration
JWT_SECRET=59d0f7f6-5934-4105-ac3a-d4b43c26031c

# Email Configuration
EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=user@example.com
EMAIL_PASSWORD=your_email_password
EMAIL_FROM=noreply@chat-api.com